extends headpart.pug
block content
    p.blockquote.text-center.mt-5= `${raidName} (${date})`
    #elm
    script.
        Elm.Admin.init({
            node: document.getElementById('elm'),
            flags: JSON.parse('!{flags}')
        })