extends headpart.pug
block content
    p.blockquote.text-center.mt-5
        | Leider wird die SleepLocker-App von Microsoft-Browsern nicht ausgeführt.
        br
        | Bitte versuche es noch einmal mit einem 
        a(href='https://www.mozilla.org/de/firefox/new/') modernen
        | 
        a(href='https://www.google.de/chrome/') Browser
        | .