extends headpart.pug
block content
    #elm
    script.
        Elm.Register.init({
            node: document.getElementById('elm'),
            flags: {
                ...!{JSON.stringify(flags)},
                userID: getUserID()
            }
        })