extends headpart.pug
block content
    p.blockquote.text-center.mt-5= `${raidName} (erstellt ${date})`
    #elm
    script.
        Elm.Tables.init({
            node: document.getElementById('elm'),
            flags: !{JSON.stringify(flags)}
        })